In [1]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\tcwil\anaconda3\envs\pythondata\lib\site-packages (2.9.3)

In [2]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [3]:
#Create path to mass_shooting csv file
data_file= "Resources/US Mass Shootings May 24 2022.csv"

In [4]:
#Use read csv function read in csv file
mass_shooting_df= pd.read_csv(data_file, usecols=["location", "year"])
mass_shooting_df["state"]= mass_shooting_df["location"].apply(lambda x: x.split(",")[1].strip())
mass_shooting_df.drop("location", axis=1, inplace=True)

In [5]:
#Print df
mass_shooting_df

     year       state
0    2022       Texas
1    2022    New York
2    2022  California
3    2021    Michigan
4    2021  California
..    ...         ...
123  1987     Florida
124  1986    Oklahoma
125  1984  California
126  1984       Texas
127  1982     Florida

[128 rows x 2 columns]

In [6]:
#Set mass shooting range of year from 1991-2017 to match gun laws timeframe
summary_df= mass_shooting_df.loc[((mass_shooting_df["year"] >=1991) & (mass_shooting_df["year"] <= 2017))]
summary_df = summary_df.groupby(["state","year"], as_index=False).size().rename(columns={"size": "No. of Mass Shootings"})
summary_df

         state  year  No. of Mass Shootings
0      Arizona  2011                      1
1     Arkansas  1998                      1
2   California  1992                      1
3   California  1993                      1
4   California  1997                      1
..         ...   ...                    ...
76  Washington  2016                      1
77   Wisconsin  2005                      1
78   Wisconsin  2007                      1
79   Wisconsin  2012                      1
80   Wisconsin  2015                      1

[81 rows x 3 columns]

In [7]:
# Create path to csv file to import gun regulations
gun_data_file= "Resources/raw_data.csv"

In [8]:
#Use read csv to read in gun regulatioons csv
gun_df= pd.read_csv(gun_data_file, usecols=["state", "year", "lawtotal"])

In [9]:
#Rename lawtotal column to No.of Gun Regulations
gun_df= gun_df.rename(columns= {"lawtotal": "No. of Gun Regulations"})
gun_df

              state  year  No. of Gun Regulations
0           Alabama  1991                      15
1            Alaska  1991                      10
2           Arizona  1991                      12
3          Arkansas  1991                      15
4        California  1991                      58
...             ...   ...                     ...
1345       Virginia  2017                      13
1346     Washington  2017                      43
1347  West Virginia  2017                      21
1348      Wisconsin  2017                      23
1349        Wyoming  2017                       9

[1350 rows x 3 columns]

In [10]:
# Merge the two dataframes together on columns state and year
merged_df = pd.merge(summary_df,gun_df, how="inner", on = ["state", "year"])
merged_df

         state  year  No. of Mass Shootings  No. of Gun Regulations
0      Arizona  2011                      1                      11
1     Arkansas  1998                      1                      11
2   California  1992                      1                      57
3   California  1993                      1                      57
4   California  1997                      1                      70
..         ...   ...                    ...                     ...
74  Washington  2016                      1                      43
75   Wisconsin  2005                      1                      24
76   Wisconsin  2007                      1                      24
77   Wisconsin  2012                      1                      24
78   Wisconsin  2015                      1                      23

[79 rows x 4 columns]

In [11]:
pd.set_option("display.max_rows", 500)
merged_df

             state  year  No. of Mass Shootings  No. of Gun Regulations
0          Arizona  2011                      1                      11
1         Arkansas  1998                      1                      11
2       California  1992                      1                      57
3       California  1993                      1                      57
4       California  1997                      1                      70
5       California  2006                      1                      93
6       California  2011                      1                      94
7       California  2012                      1                      95
8       California  2013                      1                      99
9       California  2014                      2                     100
10      California  2015                      1                     102
11      California  2017                      3                     106
12        Colorado  1993                      1                       9
13        Colorado  1999                      1                      11
14        Colorado  2012                      1                      17
15        Colorado  2015                      2                      30
16        Colorado  2017                      1                      30
17     Connecticut  1998                      1                      60
18     Connecticut  2010                      1                      70
19     Connecticut  2012                      1                      70
20         Florida  1996                      1                      21
21         Florida  1999                      1                      22
22         Florida  2013                      1                      21
23         Florida  2016                      1                      21
24         Florida  2017                      2                      21
25         Georgia  1999                      1                      11
26         Georgia  2012                      1                      11
27          Hawaii  1999                      1                      60
28        Illinois  2001                      1                      58
29        Illinois  2008                      1                      61
30            Iowa  1991                      1                      18
31          Kansas  2016                      1                       7
32        Kentucky  2008                      1                       7
33        Maryland  2017                      1                      64
34   Massachusetts  2000                      1                     100
35        Michigan  1991                      1                      24
36        Michigan  2016                      1                      21
37       Minnesota  2005                      1                      31
38       Minnesota  2012                      1                      31
39     Mississippi  2003                      1                       9
40        Missouri  2008                      1                       8
41        Nebraska  2007                      1                      21
42          Nevada  2011                      1                      11
43          Nevada  2017                      1                      21
44        New York  1992                      1                      35
45        New York  1993                      1                      35
46        New York  2009                      1                      64
47        New York  2013                      1                      72
48  North Carolina  1993                      1                      23
49  North Carolina  2009                      1                      30
50            Ohio  2004                      1                      18
51            Ohio  2017                      1                      16
52          Oregon  1998                      1                      16
53          Oregon  2015                      1                      33
54    Pennsylvania  2006                      1                      36
55    Pennsylvania  2017                      1                      36
56  South Carolina  1997                      1                      18
57  South Carolina  2015                      1                      12
58       Tennessee  2015                      1                      24
59           Texas  1991                      1                      13
60           Texas  1995                      1                      15
61           Texas  1999                      1                      15
62           Texas  2009                      1                      20
63           Texas  2014                      1                      20
64           Texas  2016                      1                      18
65           Texas  2017                      1                      18
66            Utah  2007                      1                      11
67        Virginia  2007                      1                      12
68      Washington  1994                      1                      25
69      Washington  2006                      1                      24
70      Washington  2009                      1                      24
71      Washington  2012                      1                      25
72      Washington  2013                      1                      25
73      Washington  2014                      1                      41
74      Washington  2016                      1                      43
75       Wisconsin  2005                      1                      24
76       Wisconsin  2007                      1                      24
77       Wisconsin  2012                      1                      24
78       Wisconsin  2015                      1                      23

In [12]:
merged_df.set_index(["state", "year"])

                     No. of Mass Shootings  No. of Gun Regulations
state          year
Arizona        2011                      1                      11
Arkansas       1998                      1                      11
California     1992                      1                      57
               1993                      1                      57
               1997                      1                      70
               2006                      1                      93
               2011                      1                      94
               2012                      1                      95
               2013                      1                      99
               2014                      2                     100
               2015                      1                     102
               2017                      3                     106
Colorado       1993                      1                       9
               1999                      1                      11
               2012                      1                      17
               2015                      2                      30
               2017                      1                      30
Connecticut    1998                      1                      60
               2010                      1                      70
               2012                      1                      70
Florida        1996                      1                      21
               1999                      1                      22
               2013                      1                      21
               2016                      1                      21
               2017                      2                      21
Georgia        1999                      1                      11
               2012                      1                      11
Hawaii         1999                      1                      60
Illinois       2001                      1                      58
               2008                      1                      61
Iowa           1991                      1                      18
Kansas         2016                      1                       7
Kentucky       2008                      1                       7
Maryland       2017                      1                      64
Massachusetts  2000                      1                     100
Michigan       1991                      1                      24
               2016                      1                      21
Minnesota      2005                      1                      31
               2012                      1                      31
Mississippi    2003                      1                       9
Missouri       2008                      1                       8
Nebraska       2007                      1                      21
Nevada         2011                      1                      11
               2017                      1                      21
New York       1992                      1                      35
               1993                      1                      35
               2009                      1                      64
               2013                      1                      72
North Carolina 1993                      1                      23
               2009                      1                      30
Ohio           2004                      1                      18
               2017                      1                      16
Oregon         1998                      1                      16
               2015                      1                      33
Pennsylvania   2006                      1                      36
               2017                      1                      36
South Carolina 1997                      1                      18
               2015                      1                      12
Tennessee      2015                      1                      24
Texas          1991                      1                      13
               1995                      1                      15
               1999                      1                      15
               2009                      1                      20
               2014                      1                      20
               2016                      1                      18
               2017                      1                      18
Utah           2007                      1                      11
Virginia       2007                      1                      12
Washington     1994                      1                      25
               2006                      1                      24
               2009                      1                      24
               2012                      1                      25
               2013                      1                      25
               2014                      1                      41
               2016                      1                      43
Wisconsin      2005                      1                      24
               2007                      1                      24
               2012                      1                      24
               2015                      1                      23

In [17]:
#Connection to local database
protocol = 'postgresql'
username = 'postgres'
password = 'admin'
host = 'localhost'
port = 5432
database_name = 'mass_shooting_db'

#Creating connection string
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [18]:
engine.table_names()

C:\Users\tcwil\AppData\Local\Temp/ipykernel_4156/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['mass_shooting', 'regulations']

In [19]:
# Use Pandas to load mass shooting csv to df
summary_df.to_sql(name="mass_shooting", con= engine, if_exists="replace", index=False)

In [20]:
# Use Pandas to load gun regulation csv to df
gun_df.to_sql(name="regulations", con= engine, if_exists="replace", index=False)

In [23]:
#Confirm the data has been added in both tables
pd.read_sql_query("select * from mass_shooting", con=engine)

             state  year  No. of Mass Shootings
0          Arizona  2011                      1
1         Arkansas  1998                      1
2       California  1992                      1
3       California  1993                      1
4       California  1997                      1
5       California  2006                      1
6       California  2011                      1
7       California  2012                      1
8       California  2013                      1
9       California  2014                      2
10      California  2015                      1
11      California  2017                      3
12        Colorado  1993                      1
13        Colorado  1999                      1
14        Colorado  2012                      1
15        Colorado  2015                      2
16        Colorado  2017                      1
17     Connecticut  1998                      1
18     Connecticut  2010                      1
19     Connecticut  2012                      1
20            D.C.  2013                      1
21         Florida  1996                      1
22         Florida  1999                      1
23         Florida  2013                      1
24         Florida  2016                      1
25         Florida  2017                      2
26         Georgia  1999                      1
27         Georgia  2012                      1
28          Hawaii  1999                      1
29        Illinois  2001                      1
30        Illinois  2008                      1
31            Iowa  1991                      1
32          Kansas  2016                      1
33        Kentucky  2008                      1
34        Lousiana  2016                      1
35        Maryland  2017                      1
36   Massachusetts  2000                      1
37        Michigan  1991                      1
38        Michigan  2016                      1
39       Minnesota  2005                      1
40       Minnesota  2012                      1
41     Mississippi  2003                      1
42        Missouri  2008                      1
43        Nebraska  2007                      1
44          Nevada  2011                      1
45          Nevada  2017                      1
46        New York  1992                      1
47        New York  1993                      1
48        New York  2009                      1
49        New York  2013                      1
50  North Carolina  1993                      1
51  North Carolina  2009                      1
52            Ohio  2004                      1
53            Ohio  2017                      1
54          Oregon  1998                      1
55          Oregon  2015                      1
56    Pennsylvania  2006                      1
57    Pennsylvania  2017                      1
58  South Carolina  1997                      1
59  South Carolina  2015                      1
60       Tennessee  2015                      1
61           Texas  1991                      1
62           Texas  1995                      1
63           Texas  1999                      1
64           Texas  2009                      1
65           Texas  2014                      1
66           Texas  2016                      1
67           Texas  2017                      1
68            Utah  2007                      1
69        Virginia  2007                      1
70      Washington  1994                      1
71      Washington  2006                      1
72      Washington  2009                      1
73      Washington  2012                      1
74      Washington  2013                      1
75      Washington  2014                      1
76      Washington  2016                      1
77       Wisconsin  2005                      1
78       Wisconsin  2007                      1
79       Wisconsin  2012                      1
80       Wisconsin  2015                      1

In [24]:
#Confirm the data has been added in both tables
pd.read_sql_query("select * from regulations", con=engine)

              state  year  No. of Gun Regulations
0           Alabama  1991                      15
1            Alaska  1991                      10
2           Arizona  1991                      12
3          Arkansas  1991                      15
4        California  1991                      58
...             ...   ...                     ...
1345       Virginia  2017                      13
1346     Washington  2017                      43
1347  West Virginia  2017                      21
1348      Wisconsin  2017                      23
1349        Wyoming  2017                       9

[1350 rows x 3 columns]